@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
/* .mennn {
  border: 1px;
  border-color: orange;
  border-style: solid;
  border-radius: 6px;
} */
html{
  scroll-behavior: smooth;
  
}
@keyframes typewriter{
  from {
    width: 0;
  }
  to{
    width: 100%;
  }
}
.animate h2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 8s steps(40, end) forwards;
}